*{
	margin: 0px;
	padding: 0px;
	border: none;
}
.header{
	background-color: #424242;
	justify-content: center;
	height: 50px;
	display: flex;
	align-items: center;
	font-family: 'Lato', sans-serif;
}
.header .covid-19{
	color: #FFAD43;
}
.header p{
	color: #ECECEC;
}
.header a{
	color: #ECECEC;
	margin-left: 3px;
}
/*login*/
.logo{
	width: 100px;
	height: 86px;
	display: flex;
	align-items: center;
	margin: 0px 10px;
}
.logo img {
	width: 123px;
	height: 84px;
	/*margin-left: 25px;*/
}
.login{
	display: flex;
	align-items: center;
	padding: 8px;
	justify-content: space-around;
	width: 350px;
	height: 50px;
	margin-left: 200px;

}
.login .border-login{
	border-right: 1px solid black;
	/*width: 20px;*/
	padding-right: 20px;
	color: #00A2D2;
	text-decoration: none;
}
.main{
	font-family: 'Lato', sans-serif;
}
.video-background{
	position: relative;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

}
.video-contener{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
}
video {
	width: 100%;
}
.content{
	text-align: center;
	z-index: 1;
	/*display: flex;*/
	
}
.content h1{
	font-size: 42px;
	color: white;
	padding-bottom: 10px;
}
.content h2{
	color: white;
	font-size: 20px;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.content h3{
	background-color: #F13A59;
	color: #FFFFFF;
	padding: 15px 110px;
	display: inline;
}
.content h3:hover{
	background-color: #E81035;
}