*{
	margin: 0px;
	padding: 0px;
	border: none;
}
.header{
	background-color: #424242;
	justify-content: center;
	height: 50px;
	display: flex;
	align-items: center;
	font-family: 'Lato', sans-serif;
}
.header .covid-19{
	color: #FFAD43;
}
.header p{
	color: #ECECEC;
}
.header a{
	color: #ECECEC;
	margin-left: 3px;
}
/*login*/
.logo{
	width: 100px;
	height: 86px;
	display: flex;
	align-items: center;
	margin: 0px 10px;
}
.logo img {
	width: 123px;
	height: 84px;
	/*margin-left: 25px;*/
}
.login{
	display: flex;
	align-items: center;
	padding: 8px;
	justify-content: space-around;
	width: 350px;
	height: 50px;
	margin-left: 200px;

}
.login .border-login{
	border-right: 1px solid black;
	/*width: 20px;*/
	padding-right: 20px;
	color: #00A2D2;
	text-decoration: none;
}
.main{
	font-family: 'Lato', sans-serif;
}
